<ul class="grid">
  <li class="col-1-3">
    <i class="icon" data-bg="{{ vp.spend.icon }}"></i>
    <h4>{{ vp.spend.headline }}</h4>
    <p>{{ vp.spend.body }}</p>
  </li>

  <li class="col-1-3">
    <i class="icon" data-bg="{{ vp.delivery.icon }}"></i>
    <h4>{{ vp.delivery.headline }}</h4>
    <p>{{ vp.delivery.body }}</p>
  </li>

  <li class="col-1-3">
    <i class="icon" data-bg="{{ vp.guarantee.icon }}"></i>
    <h4>{{ vp.guarantee.headline }}</h4>
    <p>{{ vp.guarantee.body }}</p>
  </li>
</ul>
