* {
  box-sizing: border-box;
}
body {
  font-family: "ProximaNova-Regular", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h1,
h2 {
  font-size: 36px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-weight: bold;
}

.bg-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-center {
  text-align: center;
}

.header-default {
  position: absolute;
}
.raise-logo {
  display: block;
  margin: 12px;
}

.section {
  padding: 44px 16px;
  @media screen and (min-width: $m-l) {
      padding: 44px;
  }
}
.section-wrapper {
  margin: auto;
  max-width: $l;
}

.pull-up {
  padding-bottom: 176px;
}
.pull-up + * {
  margin-top: -176px;
}

.icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 44px;
  width: 44px;
}
