$color-mint:      #4fc094;
$color-vista:     #8ae2ba;
$color-scooter:   #31c1c9;
$color-astro:     #077e87;
$color-sunglo:    #ea5454;
$color-habiscus:  #ad1a4b;
$color-calico:    #e0be2d;
$color-barley:    #9e8020;
$color-mako:      #3f484d;
$color-nevada:    #5a686d;
$color-slate:     #788a91;
$color-tower:     #b0babf;
$color-tiara:     #c9d0d3;
$color-iron:      #dadee0;
$color-haze:      #f4f6f6;
$color-alabaster: #f8f8f8;

$color-button-old:        #4ed1aa;
$color-button-border-old: #4ba29a;

.bg-mint {
  background: $color-mint;
}
.bg-alabaster {
  background: $color-alabaster;
}
.bg-haze {
  background: $color-haze;
}
