@mixin box-shadow($left,$top,$blur,$pull,$color) {
  -webkit-box-shadow: $left $top $blur $pull $color;
  -moz-box-shadow: $left $top $blur $pull $color;
  box-shadow: $left $top $blur $pull $color;
}

@mixin box-shadow-inset($left,$top,$blur,$pull,$color) {
  -webkit-box-shadow: $left $top $blur $pull $color inset;
  -moz-box-shadow: $left $top $blur $pull $color inset;
  box-shadow: $left $top $blur $pull $color inset;
}

@mixin border-radius-all($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius($options) {
  -moz-border-radius: $options;
  -webkit-border-radius: $options;
  border-radius: $options;
}
