{% assign testimonial = site.data.modules.testimonial %}

<section data-section="testimonial" class="section bg-haze content-center">
  <div class="section-wrapper">
    <div class="headline-wrapper">
      {% include modules/testimonial/_testimonial_headline.html %}
    </div>

    <div class="grid grid-with-pad">
      <div class="col-full col-1-2-m-l">
        {% include modules/testimonial/_testimonial_image.html %}
      </div>
      <div class="col-full col-1-2-m-l">
        {% include modules/testimonial/_testimonial_card.html %}
        {% include modules/testimonial/_testimonial_quote.html %}
      </div>
    </div>
  </div>
</section>
