{% assign testimonial = site.data.modules.testimonial %}

<section data-section="testimonial" class="section bg-haze content-center">
  <div class="section-wrapper">
    {% include modules/testimonial/_testimonial_headline.html %}

    <div class="grid">
      <div class="col-1-2">
        {% include modules/testimonial/_testimonial_image.html %}
      </div>
      <div class="col-1-2">
        {% include modules/testimonial/_testimonial_quote.html %}
      </div>
    </div>
  </div>
</section>
