<!DOCTYPE html>
<html>

  {% include structural/head.html %}
  <body class="{{ page.brand-slug }}">
    {% assign brand = site.data.brands[page.brand-slug] %}
    {% include structural/header.html %}
    <div class="page-content">
      <div class="wrapper">

        {% include modules/brand-header/brand-header.html %}
        {% include modules/brand-purchase/brand-purchase.html %}
        {% include modules/value-prop/value-prop.html %}
        {% include modules/testimonial/testimonial.html %}
      </div>
    </div>

    {% include structural/footer.html %}
  </body>
</html>
